@tailwind base;
@tailwind components;
@tailwind utilities;

/* 修改文本颜色为紫色 */
.text-main-500 {
  --tw-text-opacity: 1;
  color: rgba(128, 0, 128, var(--tw-text-opacity)); /* 紫色 */
}

/* 修改暗模式背景颜色为深紫色 */
.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(17 20 24 / var(--tw-bg-opacity));
}

/* 修改侧边栏激活状态的背景和文本颜色，并添加渐变效果 */
.sidebar-active {
  --tw-bg-opacity: 0.8;
  background: linear-gradient(
    135deg,
    rgba(128, 0, 128, var(--tw-bg-opacity)),
    rgba(75, 0, 130, var(--tw-bg-opacity))
  ); /* 紫色渐变 */
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity)); /* 白色 */
  transition: background 0.3s ease, color 0.3s ease; /* 添加渐变效果 */
}

/* 添加悬停效果 */
.sidebar-active:hover {
  --tw-bg-opacity: 1;
  background: linear-gradient(
    135deg,
    rgba(75, 0, 130, var(--tw-bg-opacity)),
    rgba(138, 43, 226, var(--tw-bg-opacity))
  ); /* 深紫色渐变 */
  color: rgba(255, 255, 255, var(--tw-text-opacity)); /* 白色 */
}

/* 隐藏滚动条 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 修改文件夹颜色变量 */
:root {
  --folderColor: rgba(138, 43, 226, var(--tw-bg-opacity)); /* 紫色 */
  --paperColor: #ffffff;
}

/* 修改文件夹卡片的过渡效果 */
.folder-card {
  transition: all 0.3s ease-in-out; /* 修改过渡时间和效果 */
}

.folder__svg {
  width: 100px;
  height: 80px;
}

/* 修改文件夹背景颜色 */
.folder__back {
  fill: #800080; /* 紫色 */
  rx: 10;
  ry: 10;
}

/* 修改纸张颜色和过渡效果 */
.paper-1 {
  fill: #e6e6e6;
  transition: all 0.3s ease-in-out;
  rx: 10;
  ry: 10;
}

.paper-2 {
  fill: #e6e6e6;
  transition: all 0.3s ease-in-out;
  rx: 10;
  ry: 10;
}

.paper-1:nth-child(2) {
  fill: #f2f2f2;
}

.paper-1:nth-child(3) {
  fill: #ffffff;
}

.paper-2:nth-child(2) {
  fill: #f2f2f2;
}

.paper-2:nth-child(3) {
  fill: #ffffff;
}

/* 修改文件夹前景颜色和过渡效果 */
.folder__front {
  fill: var(--folderColor);
  rx: 10;
  ry: 10;
  transform-origin: bottom;
  transition: all 0.3s ease-in-out;
}

/* 修改文件夹卡片悬停效果 */
.folder-card:hover {
  transform: translateY(-10px); /* 增加悬停时的移动距离 */
}

.folder-card:hover .paper-1 {
  y: 15;
  transform: translateY(0%);
}

.folder-card:hover .paper-2 {
  y: 25;
  transform: translateY(0%);
}

.folder-card:hover .folder__front {
  rx: 13;
  ry: 13;
  y: 10;
  height: 80;
  transform: skewY(0deg) scaleY(0.6);
}

.folder-card:hover .folder__front.right {
  rx: 13;
  ry: 13;
  y: 0;
  height: 80;
  transform: skewY(0deg) scaleY(0.6);
}

/* 修改加载器颜色和动画效果 */
.loader {
  border-top-color: #800080; /* 紫色 */
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 修改卡片图标背景颜色 */
.card-icon-bg {
  background-color: rgb(128 0 128 / 10%); /* 紫色 */
}

/* 修改暗模式下不同灰度背景颜色 */
.dark\:pintree-bg-gray-900:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(48 25 52 / var(--tw-bg-opacity)); /* 深紫色 */
}
.dark\:pintree-bg-gray-800:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(75 0 130 / var(--tw-bg-opacity)); /* 靛蓝色 */
}
.dark\:pintree-bg-gray-700:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(138 43 226 / var(--tw-bg-opacity)); /* 蓝紫色 */
}
.dark\:pintree-bg-gray-600:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(153 50 204 / var(--tw-bg-opacity)); /* 深紫色 */
}

/* 修改暗模式下不同灰度背景颜色的悬停状态 */
.dark\:hover\:pintree-bg-gray-900:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(48 25 52 / var(--tw-bg-opacity)); /* 深紫色 */
}
.dark\:hover\:pintree-bg-gray-800:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(75 0 130 / var(--tw-bg-opacity)); /* 靛蓝色 */
}
.dark\:hover\:pintree-bg-gray-700:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(138 43 226 / var(--tw-bg-opacity)); /* 蓝紫色 */
}
.dark\:hover\:pintree-bg-gray-600:hover:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(153 50 204 / var(--tw-bg-opacity)); /* 深紫色 */
}

/* 修改暗模式下不同灰度边框颜色 */
.dark\:pintree-border-gray-900:is(.dark *) {
  --tw-bg-opacity: 1;
  border-color: rgb(48 25 52 / var(--tw-bg-opacity)); /* 深紫色 */
}
.dark\:pintree-border-gray-800:is(.dark *) {
  --tw-bg-opacity: 1;
  border-color: rgb(75 0 130 / var(--tw-bg-opacity)); /* 靛蓝色 */
}
.dark\:pintree-border-gray-700:is(.dark *) {
  --tw-bg-opacity: 1;
  border-color: rgb(138 43 226 / var(--tw-bg-opacity)); /* 蓝紫色 */
}
.dark\:pintree-border-gray-600:is(.dark *) {
  --tw-bg-opacity: 1;
  border-color: rgb(153 50 204 / var(--tw-bg-opacity)); /* 深紫色 */
}

/* 修改暗模式下不同灰度环颜色 */
.dark\:pintree-ring-gray-900:is(.dark *) {
  --tw-bg-opacity: 1;
  --tw-ring-color: rgb(48 25 52 / var(--tw-bg-opacity)); /* 深紫色 */
}
.dark\:pintree-ring-gray-800:is(.dark *) {
  --tw-bg-opacity: 1;
  --tw-ring-color: rgb(75 0 130 / var(--tw-bg-opacity)); /* 靛蓝色 */
}
.dark\:pintree-ring-gray-700:is(.dark *) {
  --tw-bg-opacity: 1;
  --tw-ring-color: rgb(138 43 226 / var(--tw-bg-opacity)); /* 蓝紫色 */
}
.dark\:pintree-ring-gray-600:is(.dark *) {
  --tw-bg-opacity: 1;
  --tw-ring-color: rgb(153 50 204 / var(--tw-bg-opacity)); /* 深紫色 */
}
